@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    font-size: 16px;
}
*,
::after,
::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --main-bg:#285C8E;
    --dark-blue:#163450;
    --white:white;
    --red-color:#c60c1e;
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height:auto;
    display:block;
}

h1,
h2,
h3,
p{
    margin:0;
}

.container {
    width:85%;
    max-width: 65rem;
    margin:0 auto;
}

/*header style*/

header {
    background-color: var(--main-bg);
    text-align: center;
    padding-top:1rem;
    padding-bottom: 1rem;
    color:#fff;
}

.hero{
    background: url(assets/imgs/background-hero.jpg);
    background-color:var(--main-bg);
    background-size:cover;
    background-blend-mode:soft-light;
    


}


.img-container{
    margin:0 auto;
    position:relative;
    margin-top:1rem;
    font-size: 100%;
    height: 150px;
    width: 200px;
    overflow: auto;
}

.right-align{
    text-align: right;
    margin-top: -.6rem;
}


.center-align{
    text-align: center;
    white-space: nowrap;
}

.hero-content{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:grid;
    grid-template-columns: auto;
    grid-template-areas: "h1 h1"
                        "video video"
                        "btn btn";
    justify-items: center;
    align-items: center;
    grid-gap:2rem 3rem;
}

.primary-title{
    grid-area: h1;
    letter-spacing:.1rem ;
    font-size: clamp(.5rem, 10vw, 2rem); 
    
}

.cta{
    font-size: 1.5rem;
    text-transform: uppercase;
    grid-area: btn;
    border-radius: .8rem;
    border:none;
    padding: .5rem 1rem;
    color:white;
    background:hsl(353, 82%, 43%);
    width:70%;
    transition:transform 100ms ease-in;

}

.cta:hover{
    cursor:pointer;
    transform:scale(1.1);
    background:hsl(353, 100%, 60%);

}


.video{
    grid-area:video;
    border-radius: 1rem;
    min-height:400px;
    margin-top: 3rem;
    margin-bottom:3rem;
    width:75%
   
}

.back-red{
    background-color: hsl(353, 82%, 43%);
}
@media (max-width:720px){
    .hero-content{
        grid-template-areas:"h1 h1"
        "video video"
        "btn btn";
        
        grid-template-rows: 25vh 50vh 25vh; 
        grid-row-gap:1rem;
    }
    .hero-img{
        display:none;
    }

    .container{
        width:95%;
    }

    .video{
        width:90%;
        min-height:auto;
    }

}
/*description section style*/
.description{
    background:var(--main-bg);
    background-color: var(--main-bg);
    text-align: center;
    padding-top:1rem;
    padding-bottom: 5rem;
    color:#fff;
}
.text-description{
    font-size: 1.2rem;
    margin-top:3rem;
}

.red-bg{
    font-size:1.5rem;
    margin-top:1.5rem;
    background:hsl(353,82%,43%);
    font-weight: bold;
}

/*Depoimentos*/

.svg-depoimentos{
    display:block;
    transform: translateY(-1rem);
}
.img-dep {
    width:100%;
    border-radius: 15px;
    border:15px solid #163450;

}


.dep-title{
    text-align: center;
    text-transform: uppercase;
    color:hsl(353,82%,43%);
    font-size: 2.5rem;
    margin-bottom:2.5rem;
    font-weight: bolder;
}

.depoimentos-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap:2.5rem;
    padding:2rem;
    justify-items: center;
}

.video-dep{
    height:100%;
    width:100%;
    min-height:300px;
    border-radius: 1rem;
}


@media (max-width:800px){
    .depoimentos-container{
        grid-template-columns: auto;
        grid-row-gap: 2rem;
        align-items: center;
    }
    .img-dep{
        width:60%
    }
    
}

/*Sobre o professor*/
.professor{
    background:var(--red-color);
    color:#fff;
    padding-bottom: 3rem;
    transform:translateY(.2rem);
}
.professor-container{
    display:grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-column-gap: 2rem;
}

.professor-title{
    font-size:clamp(.8rem, 10vw, 2.5rem); 
    margin-bottom: 2rem;
}

.professor-description{
    margin-bottom:1rem;
    font-size:clamp(.8rem, 10vw, 1.5rem); 
}

.tom-img{
  width:100%;
  height:auto;

}

@media (max-width:650px){
    .professor-container{
        grid-template-columns: auto;
    }
    .tom-img{
        display:block;
        margin:0 auto;
        width:65%;
    }

    .professor-description{
        text-align: center;
    }
}

/*Bonus style*/

.title-bonus{
    text-align: center;
    color:#fff;
    letter-spacing:.1rem ;
    font-size: clamp(1rem, 15vw, 3rem); 
    padding-top:1rem;
    padding-bottom: 1rem;
}
.bonus{
    background-color: #fff;
    text-align: center;
    padding-top:1rem;
    padding-bottom: 1rem;
}
.bonus-item{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.bonus-item-title{
    color:var(--dark-blue);
    font-size: 1.4rem;
    margin-bottom:1rem;
}
.bonus-item-description{
    text-align: left;
}

.bonus-description{
    color:var(--main-bg);
    margin-bottom: .5rem;
}
.color-red{
    color:var(--red-color);
    font-weight: bold;
}

.color-blue{
    color:var(--main-bg);
    font-weight: bolder;
    
}

.bonus-price{
    margin-bottom: 1rem;
}


.bonus-img{
    width:80%;
    height:auto;
}

.bonus-grid{
    margin-bottom:2rem;
}
.container-bonus{
    background: var(--red-color);
}
.container-bonus h1 {
    color:white;
    text-align: center;
    font-size: 2.5rem;
    padding:2rem;
    text-transform:uppercase;
}
.down{
    display:block;
    transform:rotate(180deg)
}
.up{
    display: block;
    background:var(--red-color);
    transform:translateY(.4rem);
    
}

@media (max-width:600px) {
    .bonus-item{
        grid-template-columns: 1fr;
        align-items: center;
        
    }
    .bonus-item-title{
        margin-top:1rem;

    }

    .bonus-item-description{
        text-align: center;
    }

    .bonus-img{
        display:block;
        margin: 0 auto;
    }
}

/*certificado*/
.certificado{
    background:var(--main-bg);
    padding-bottom: 5rem;
    padding-top:5rem;
    text-align: center;
}

.certificado-title{
    text-transform:uppercase;
    font-weight:bolder;
    font-size: clamp(1rem, 10vw, 3rem); 
    color:white;
    margin-bottom: 1.5rem;
    
}
.certificado-description{
    color:white;
    font-size:clamp(1rem, 10vw, 1.5rem); 
}
.svg-certificado{
    
        margin-bottom: -1rem;
  
    
}

/*price*/


.price-title{
    text-align: center;
    text-transform: uppercase;
    color:hsl(353,82%,43%);
    font-size:clamp(1rem, 10vw, 2.5rem); 
    margin-bottom:2.5rem;
    font-weight: bolder;
}
.price{
    margin-bottom: 2.5rem;

}

.price-item{
    display:grid;
    grid-template-columns: 2.5fr 1fr;
    width:100%;
    color:var(--dark-blue);
    font-weight: bold;
    margin-bottom: 1rem;
    align-items: center;
    
    
}


.price-description{
    text-transform: lowercase;
    text-transform: capitalize;
    font-size:clamp(.4rem, 10vw, 1.5rem); 

}
.price-red{
    text-decoration: line-through;
    text-decoration-thickness: .15rem;
    text-decoration-color:var(--red-color);
    text-align: right;
    margin-right: 1rem;
    font-size:clamp(.4rem, 10vw, 1.5rem); 
}
.price-container{
    padding:.4rem;
    width:100%;
    border:2px solid var(--red-color);
    border-radius: .5rem;
    margin:0 auto;
    margin-bottom: 1rem;
    box-shadow: -3px 1px 2px 2px var(--dark-blue);
}

.price-total{
    text-align: center;
    color:var(--dark-blue);
    font-weight: bolder;
}
.price-description-total{
    font-size: 2rem;
}
.price-red-total{
    text-decoration: line-through;
    text-decoration-thickness: .25rem;
    text-decoration-color:var(--red-color);
    font-size: 2.5rem;
    margin-bottom:1rem;
    
}
.price-12{
    margin:0 auto;
    width:fit-content;
    border:2px solid var(--red-color);
    padding:.5rem 2rem;
    font-size: clamp(.5rem, 10vw, 2.5rem); 
    color:var(--dark-blue);
    font-weight:bolder;
    border-radius: 1.25rem;
    margin-top:1rem;
    margin-bottom:1rem;
    box-shadow: -3px 1px 2px 2px var(--dark-blue);
    text-shadow:-2px 1px var(--dark-blue) 
}
.big-text{
    font-size: 2.6rem;
}

.cta-price{
    display:block;
    margin:0 auto;
    margin-top:1rem;
    font-size: 2rem;
    text-transform: uppercase;
    grid-area: btn;
    border-radius: .8rem;
    border:none;
    padding: .8rem 1.1rem;
    color:white;
    background:hsl(115, 82%, 43%);
    width:65%;
    transition:transform 100ms ease-in;
    animation: increase 1.5s ease-in infinite;
    width:80%;

}
.cta-price:hover,.cta-price:focus{
    background:hsl(115, 82%, 60%);
    cursor:pointer;
    
}
@media (max-width:600px){
    .price-item{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .price-description{
        font-size:1rem;
    }
    .price-red{
        font-size:1rem;
    }

    .cta-price{
        font-size:1.2rem;
        width:100%;
    }

    .price-container{
        padding:.05rem;
    }


}
@keyframes increase {
    0% {
        
        transform:scale(1);
    }
    50% {
        transform:scale(1.05)
    }

    100% {
        transform:scale(1)
    }
}
.svg-price{
    display: block;
    transform: translateY(-1rem) rotate(180deg) ;

}
/*Garantia*/
.garantia-container{
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.garantia-title{
    color:var(--dark-blue);
    margin-bottom: 1.15rem;
    text-transform: uppercase;
    text-shadow:1px 1px black;
}
.garantia-paragrafo{
    color:var(--main-bg);
}

/*Footer*/

footer{
    background:#002E5D;
    padding-bottom:2rem;
    padding-top:2rem;
    color:white;
    font-size: .8rem;
}

.footer-social a,.footer-center a{
    text-decoration: none;
    color:white;
}

.footer-container {
    display:flex;
    justify-content: space-between;
    padding:.8rem;
    align-items: center;
}

.footer-social a{
    margin-left:.5rem;

}

.footer-left p{
    margin-top:.5rem;
}

@media (max-width:760px){
    .footer-container{
        flex-direction: column;
        text-align: center;
    }
    .footer-center{
        margin-top:1rem;
    }

    .footer-social{
        margin-top:1rem;
    }

}