@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    font-size: 16px;
}
*,
::after,
::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --main-bg:#285C8E;
    --dark-blue:#163450;
    --white:white;
    --red-color:#c60c1e;
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height:auto;
    display:block;
}

h1,
h2,
h3,
p{
    margin:0;
}

.container {
    width:85%;
    max-width: 65rem;
    margin:0 auto;
}

/*header style*/

header {
    background-color: var(--main-bg);
    text-align: center;
    padding-top:1rem;
    padding-bottom: 1rem;
    color:#fff;
}

.img-container{
    margin:0 auto;
    position:relative;
    margin-top:1rem;
    font-size: 100%;
    height: 150px;
    width: 200px;
    overflow: auto;
}

.right-align{
    text-align: right;
    margin-top: -.6rem;
}


.center-align{
    text-align: center;
    white-space: nowrap;
}

.hero-content{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "h1 h1"
                        "video img"
                        "btn btn";
    justify-items: center;
    align-items: center;
    grid-gap:2rem 3rem;
}

.primary-title{
    grid-area: h1;
    letter-spacing:.1rem ;
    font-size: clamp(.5rem, 10vw, 2rem); 
    
}

.cta{
    font-size: 1.5rem;
    text-transform: uppercase;
    grid-area: btn;
    border-radius: .8rem;
    border:none;
    padding: .5rem 1rem;
    color:white;
    background:hsl(353, 82%, 43%);
    width:70%;
    transition:transform 100ms ease-in;

}

.cta:hover{
    cursor:pointer;
    transform:scale(1.1);
    background:hsl(353, 100%, 60%);

}

.hero-img{
    grid-area:img;
}

.video{
    grid-area:video;
    border-radius: 1rem;
    min-height:250px;
    margin-top: 3rem;
    margin-bottom:3rem;
   
}

.back-red{
    background-color: hsl(353, 82%, 43%);
}
@media (max-width:720px){
    .hero-content{
        grid-template-areas:"h1 h1"
        "video video"
        "btn btn";
        
        grid-template-rows: 25vh 50vh 25vh; 
        grid-row-gap:1rem;
    }
    .hero-img{
        display:none;
    }

    .container{
        width:95%;
    }

}
/*description section style*/
.description{
    background:var(--main-bg);
    background-color: var(--main-bg);
    text-align: center;
    padding-top:1rem;
    padding-bottom: 5rem;
    color:#fff;
}
.text-description{
    font-size: 1.2rem;
    margin-top:3rem;
}

.red-bg{
    font-size:1.5rem;
    margin-top:1.5rem;
    background:hsl(353,82%,43%);
    font-weight: bold;
}

/*Depoimentos*/
/*carousel*/

.carousel{
    display:flex;
    align-items: center;
    margin:2rem auto;  
    overflow:hidden;
    position:relative;
    width:300px;  

}

@media (max-width:400px){
    .carousel{
        width:150px;
    }

}

.caroseul-container{
    display:flex;
    transform: translateX(0);
    transition:transform 0.25s ease-in-out;
}

.caroseul-container img {
    width:100%;
    border-radius: 15px;
    border:15px solid #163450;;

}
.carousel_button{
    background:#c60c1e;
    border:0;
    border-radius: 50%;
    color:white;
    cursor:pointer;
    font-size: 1.5rem;
    font-weight: bolder;
    padding:.5rem .5rem;
    opacity:0.75;
    position:absolute;
    transition: opactity 0.25s;
    transition:transform 0.25s ease-in-out;
    z-index: 1;

}
.previous {
    left:.5rem;
}
.next {
    right:.5rem;
    
}

.carousel_button:hover,.carousel_button:focus{
    opacity: 1;
    transform: scale(1.1);
}
/*Fim do carosel*/

.dep-title{
    text-align: center;
    text-transform: uppercase;
    color:hsl(353,82%,43%);
    font-size: 2.5rem;
    margin-bottom:2.5rem;
    font-weight: bolder;
}

.depoimentos-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap:2.5rem;
    padding:2rem;
    justify-items: center;
}

.video-dep{
    height:100%;
    width:100%;
    min-height:300px;
    border-radius: 1rem;
}


@media (max-width:800px){
    .depoimentos-container{
        grid-template-columns: auto;
        grid-row-gap: 2rem;
        align-items: center;
    }
    .img-dep{
        width:60%
    }
    
}




/*Bonus style*/


.bonus{
    background-color: #fff;
    text-align: center;
    padding-top:1rem;
    padding-bottom: 1rem;
}
.bonus-item{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.bonus-item-title{
    color:var(--dark-blue);
    font-size: 1.4rem;
    margin-bottom:1rem;
}
.bonus-item-description{
    text-align: left;
}

.bonus-description{
    color:var(--main-bg);
    margin-bottom: .5rem;
}
.color-red{
    color:var(--red-color);
    font-weight: bold;
}

.color-blue{
    color:var(--main-bg);
    font-weight: bolder;
    
}

.bonus-price{
    margin-bottom: 1rem;
}


.bonus-img{
    width:80%;
    height:auto;
}

.bonus-grid{
    margin-bottom:2rem;
}
.container-bonus{
    background: var(--red-color);
}
.container-bonus h1 {
    color:white;
    text-align: center;
    font-size: 2.5rem;
    padding:2rem;
    text-transform:uppercase;
}
.down{
    display:block;
    transform:rotate(180deg)
}
.up{
    display: block;
    
}

@media (max-width:600px) {
    .bonus-item{
        grid-template-columns: 1fr;
        align-items: center;
        
    }
    .bonus-item-title{
        margin-top:1rem;

    }

    .bonus-item-description{
        text-align: center;
    }

    .bonus-img{
        display:block;
        margin: 0 auto;
    }
}

/*certificado*/
.certificado{
    background:var(--main-bg);
    padding-bottom: 5rem;
    padding-top:5rem;
    text-align: center;
}

.certificado-title{
    text-transform:uppercase;
    font-weight:bolder;
    font-size: clamp(1rem, 10vw, 3rem); 
    color:white;
    margin-bottom: 1.5rem;
    
}
.certificado-description{
    color:white;
    font-size:clamp(1rem, 10vw, 1.5rem); 
}
.svg-certificado{
    
        margin-bottom: -1rem;
  
    
}

/*price*/
.price-title{
    text-align: center;
    text-transform: uppercase;
    color:hsl(353,82%,43%);
    font-size:clamp(1rem, 10vw, 2.5rem); 
    margin-bottom:2.5rem;
    font-weight: bolder;
}
.price{
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;

}

.price-item{
    display:grid;
    grid-template-columns: 2.5fr 1fr;
    width:100%;
    color:var(--dark-blue);
    font-weight: bold;
    margin-bottom: 1rem;
}


.price-description{
    text-transform: lowercase;
    text-transform: capitalize;
}
.price-red{
    text-decoration: line-through;
    text-decoration-thickness: .15rem;
    text-decoration-color:var(--red-color);
}
.price-container{
    width:80%;
    border-bottom:2px solid var(--red-color);
    border-radius: .5rem;
    padding:1rem;
    margin:0 auto;
    margin-bottom: 1rem;
}

.price-total{
    text-align: center;
    color:var(--dark-blue);
    font-weight: bolder;
}
.price-description-total{
    font-size: 2rem;
}
.price-red-total{
    text-decoration: line-through;
    text-decoration-thickness: .25rem;
    text-decoration-color:var(--red-color);
    font-size: 2.5rem;
    margin-bottom:1rem;
    
}
.price-12{
    margin:0 auto;
    width:50%;
    border:2px solid var(--red-color);
    padding:1rem;
    font-size: 2.5rem;
    color:var(--dark-blue);
    font-weight:bolder;
    border-radius: 1.25rem;
    margin-top:1rem;
    margin-bottom:1rem;
}
.big-text{
    font-size: 2.6rem;
}

.cta-price{
    display:block;
    margin:0 auto;
    margin-top:1rem;
    font-size: 2rem;
    text-transform: uppercase;
    grid-area: btn;
    border-radius: .8rem;
    border:none;
    padding: .5rem 1rem;
    color:white;
    background:hsl(353, 82%, 43%);
    width:65%;
    transition:transform 100ms ease-in;
    animation: increase 1.5s ease-in infinite;

}
.cta-price:hover,.cta-price:focus{
    background:hsl(353, 82%, 60%);
    cursor:pointer;
    
}
@media (max-width:600px){
    .price-item{
        grid-template-columns: 1fr;
        justify-items: center;
    }

}
@keyframes increase {
    0% {
        
        transform:scale(1);
    }
    50% {
        transform:scale(1.05)
    }

    100% {
        transform:scale(1)
    }
}
.svg-price{
    display: block;
    transform: rotate(180deg);
}
/*FAQs style*/
.svg-faq{
    display: block;
    transform:rotate(180deg);
    
}
.faqs{
    display:flex;
    flex-direction: column;
    align-items: center;   
    background:var(--main-bg);
    padding-bottom:2rem;
}

.faq-title{
    text-align: center;
    font-size:2rem;
    margin:2rem 0rem;
    color:white;
}


.faq{
    margin:0 auto;
    max-width: 700px;
    margin-top:2rem;
    padding-bottom:1rem;
    border-bottom: 2px solid white;
    border-radius: 10px;
    width:100%;
    
}

.question{
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}

.question h3{
    padding-top:1rem;
    line-height:1.6;
    font-size:1.2rem;
    margin-left: 1rem;
    color:white;
}

.answer{
    max-height:0;
    overflow:hidden;
    transition:max-height 500ms ease;
}

.answer p{
    padding-top:1rem;
    line-height:1.6;
    font-size:1rem;
    margin-left: 1.4rem;
    color:white; 
    
}

.faq.active .answer {
    max-height:300px;
    animation: fade 1s ease-in-out
}

.faq.active svg{
    transform:rotate(180deg);
}

.svg-arrow{
    transition:transform .25s ease-in;
    margin-right: 1rem;
}

@keyframes fade {
    from {
        opacity:0;
        transform:translateY(-10px);
    }
    to {
        opacity:1;
        transform:translateY(0px)
    }
}
